
body{
    font-family: Tahoma;
    font-size: 15px;
}
#menu2{
    margin-top: 5px;
}

.slide_show{
    margin-top: 55px;
    margin-right: 100px;
}
.navbar-main{
    margin-right: 150px;
}
.nav > li {
      margin-right: 20px;
}
#navbar1{
    margin-right: 120px;
}