

body {
    font-family: Tahoma;
    font-size: 15px;
}
.top_header{
    background-color:#150868;
    margin-top: -15px;
}
.navbar-nav > li > a{
    color: #faf2cc;
   }
.nav > li > a {

}
.head_left{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.top_menu{
    background-color: #E15F22;
    margin-top: -10px;
}
#nav-fix-clear{
    height: 3px;
    background: #C9C8D5;
}
#img_menu{
    margin-right: 10px;
    margin-top: -5px;
}
#logo{
    margin-top: 15px;
    color: #f8f8f8;
}
.container{
    height: 55px;
    margin-top: 10px;
    width: 1000px;
}
#txt_menu{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 15px 15px 15px 15px;
    background-color:#150868;
    padding-top: 10px;
    font-size: 14px;
    list-style: none;
}

.carousel-inner {
    height: 260px;

}
.img{
    margin-left: 15px;
}
.drop_menu{
    border: 1px solid #656161;
    width: 200px;
    float: left;
    height: 53px;
    margin-top: -4px;
    background-color: #ffffff;
}

.img_drop{
    padding-top: 20px;
    margin-right: 10px;
}

.box_menu_left > li{
    margin-right: -10px;
    padding-top: 35px;

}